body {
    margin: 0 auto;
    background-color: #000033;
    color: aliceblue;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dice {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em;
}

.die {
    height: 65px;
    width: 65px;
    padding: .3em;
    background-color: teal;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

#rolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}